$btnColor: blue;
@mixin colHeaderStyle {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    background: linear-gradient(to top, #AAD8EB, #AAD8EB);
    cursor: pointer;
    user-select: none;    
}

.btnInnerMail {
    color:#666666;
    /*font-weight: lighter;*/
    color: white; /* Основной цвет текста */
    font-weight: lighter;
    text-shadow: 
        1px 1px 0px $btnColor,   /* Обводка справа и снизу */
        -1px -1px 0px $btnColor, /* Обводка слева и сверху */
        1px -1px 0px $btnColor,  /* Обводка справа и сверху */
        -1px 1px 0px $btnColor;  /* Обводка слева и снизу */
}

.findBoxInnerMail {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.tableBox {
    flex: 1 1 auto;       /* занимает всё остальное */
    overflow: auto;     /* ПРОКРУТКА ТУТ */
    scrollbar-width: thin;
}

.innerMail, .fileListTable {
    border-collapse: collapse;
    /*margin-bottom: 20px;*/

    tr {
        transition: opacity 0.2s ease;
    }

    tr.hide {
        opacity: 0;
    }

    /* анимируем содержимое */
    tr.hide td {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        font-size: 0;
        border-width: 0;
        transition: all 0.2s ease;
    }

    td {
        border: solid 1px black;
    }

    a {
        text-decoration: none;
    }

    .headerSection {
        position: sticky;
        top: 0px;
        background: black; /*Иначе при прокрутке окантовка исчезает*/
        border-top: 2px solid #AAD8EB;
    }

    .tableHeader {
        td {
            padding: 5px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            background: linear-gradient(to top, #55ABFF, #AAD8EB);
        }
    }

    .groupHeader {
        td {
            padding: 5px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            vertical-align: top;
            background: linear-gradient(to top, #8ac5ff, #8ac5ff);
        }
        .outbox {
            border-left-width: 2px;
        }
    }
    
    .colHeader {
        td {
            @include colHeaderStyle;      
        }
        .nomer {
            width: 25px;
        }
        .datevh {
            width: 70px;
        }
        .scanvh, .scanish {
            min-width: 45px;
        }
        .sumnormchasvh {
            width: 50px;
        }
        .dateish {
            border-left-width: 2px; 
            width: 70px;
        }
        .sumnormchasish {
            width: 50px;
        }
    }

    tbody {
        .nomer {
            @include colHeaderStyle;
        }
        .dateish {
            border-left-width: 2px; 
        }
    }
}

.pagesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 4px;
    margin-top: 20px;
}