$btnColor: blue;
@mixin colHeaderStyle {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
    background: linear-gradient(to top, #AAD8EB, #AAD8EB);
    cursor: pointer;
    user-select: none;    
}

.btnInnerMail {
    color:#666666;
    //font-weight: lighter;
    color: white; // Основной цвет текста 
    font-weight: lighter;
    text-shadow: 
        1px 1px 0px $btnColor,   // Обводка справа и снизу 
        -1px -1px 0px $btnColor, // Обводка слева и сверху 
        1px -1px 0px $btnColor,  // Обводка справа и сверху 
        -1px 1px 0px $btnColor;  // Обводка слева и снизу 
}

.findBoxInnerMail, .findBox{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;

    input {
        outline: none;
    }
}

.tableBox {
    flex: 1 1 auto;       // занимает всё остальное 
    overflow: auto;     // ПРОКРУТКА ТУТ 
    scrollbar-width: thin;
}

.innerMail, .fileListTable, .moduleTable {
    //border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0;
    //margin-bottom: 20px;
    //overflow-wrap: anywhere;

    tr {
        transition: opacity 0.2s ease;
    }

    // tr:hover {
    //       box-shadow:inset 1px 0 0 rgb(218,220,224),inset -1px 0 0 rgb(218,220,224),0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    // }

    tr.hide {
        opacity: 0;
    }

    // анимируем содержимое 
    tr.hide td {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        font-size: 0;
        border-width: 0;
        transition: all 0.2s ease;
    }

    [contentEditable] {
        outline: none; //Убирает синюю рамку полей contenteditable
    }



    thead { //Окантовка заголовка
        td {
            box-shadow: 
            //inset 0 -1px 0 black, //низ
            inset 1px 0 0 black, //лево
            inset 0 1px 0 black; // верх
            //inset -1px 0 0 black; //право

            &:last-child {
                box-shadow: 
                //inset 0 -1px 0 black, //низ
                inset 1px 0 0 black, //лево
                inset 0 1px 0 black, // верх
                inset -1px 0 0 black; //право
            }
        }

        tr {
            &:last-child {
                td {
                    box-shadow: 
                    inset 0 -1px 0 black, //низ
                    inset 1px 0 0 black, //лево
                    inset 0 1px 0 black; // верх
                    //inset -1px 0 0 black; //право
                    &:last-child {
                        box-shadow:
                        inset 0 -1px 0 black, //низ
                        inset 1px 0 0 black, //лево
                        inset 0 1px 0 black, // верх
                        inset -1px 0 0 black; //право
                    }
                }
            }              
        }
    }
    tbody { //Окантовка основной таблицы
        td {
            box-shadow: 
            inset 0 -1px 0 black, //низ
            inset 1px 0 0 black; //лево
            //inset 0 1px 0 black, // верх
            //inset -1px 0 0 black; //право
            &:last-child {
                box-shadow:
                inset 0 -1px 0 black, //низ
                inset 1px 0 0 black, //лево
                //inset 0 1px 0 black, // верх
                inset -1px 0 0 black; //право
            }
        }
    }

    a {
        text-decoration: none;
    }

    .headerSection {
        position: sticky;
        top: 0px;
        border-top: 2px solid #AAD8EB;
    }

    .tableHeader {
        td {
            padding: 5px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            background: linear-gradient(to top, #55ABFF, #AAD8EB);
        }
    }

    .groupHeader {
        td {
            padding: 5px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            vertical-align: top;
            background: linear-gradient(to top, #8ac5ff, #8ac5ff);
        }
        .inbox {
            border-right: 1px solid black;
        }
    }
    
    .colHeader {
        td {
            @include colHeaderStyle;
        }
        .headerlinenumber {
            min-width: 31px;
        }
        .datevh {
            width: 70px;
        }
        .sumnormchasvh {
            width: 50px;
        }
        .dateish {
            border-left-width: 2px; 
            width: 70px;
        }
        .sumnormchasish {
            width: 50px;
        }
    }

    tbody {
        td {
            padding-left: 3px;
            padding-right: 3px;
        }
        .linenumber {
            width: 25px;
            @include colHeaderStyle;
        }
        .dateish {
            border-left-width: 2px; 
        }
        .addFileBtn {
            float: right;
            margin-top: -4px;
            margin-bottom: -4px;
        }

    }
}

.innerMail {
    .colHeader {
        td {
            &:nth-child(7) {
                border-right: 1px solid black;
            }   
        }
    }
    tbody { 
        tr {
            td:nth-child(7) {
                border-right: 1px solid black;
            }
        }      
        .scanvh, .scanish {
            width: 90px;
        }  
    }
}

.pagesBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 4px;
    margin-top: 20px;
}