.tableBox {
    .izv {
        .extraColumn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .arrow {
                font-size: 20px;
                span {
                    color: white;
                    font-weight: lighter;
                    text-shadow: 1px 1px 0px blue, -1px -1px 0px blue, 1px -1px 0px blue, -1px 1px 0px blue;
                }
            }
            .hName {
                flex: 1 1 auto;
            }
        }
    }
    .colHeader {
        .scan, .trudoemc {
            min-width: 57px;
        }
        .fio {
            min-width: 100px;
        }
        .numii {
            min-width: 70px;
        }
    }
}

// font-family: "arial", Helvetica, sans-serif;
//   font-size: 10px;
//   color: white;
//   font-weight: lighter;
//   text-shadow: 1px 1px 0px blue, -1px -1px 0px blue, 1px -1px 0px blue, -1px 1px 0px blue;
//   letter-spacing: 0.8px;
// }