.modalWindowBox {
    width: 500px;
    z-index: 99999;
    position: fixed;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    top: 35%;
    left: 40%;
    box-shadow: 0 8px 24px rgba(0,0,0,0.15);
    border-radius: 8px;
    background: #DDEEEE;
    overflow: hidden;
    border: 1px black solid;
    user-select: none; //базовая защита от выделения 

    .tmp_hide {
        display: none;
        color: brown;
    }

    .fileListTable {
        width: 100%;
        //border-bottom: 1px solid black;

        .filenameBox {
            display: flex;
            flex-direction: row;
            align-items: center;

            .fileName {
                flex: 1;
                
            }
        }
        .prim {
            width: 25%;
        }
        tbody {
            td {
                padding-left: 5px;
            }
        }
    }

    .tmp_box {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;

        .tmp_header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 4px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            background: linear-gradient(to top, #55ABFF, #AAD8EB);
            border-bottom: 1px solid black;

            .tmp_header_txtbox {
                margin-bottom: 2px;
            }

            .tmp_close {
                font-size: 20px;
                position: absolute;
                right: 0px;
                top: 0px;
                margin-right: 7px;
                margin-top: -2px;
                cursor: pointer;
            }

            .tmp_window_hide {
                font-size: 25px;
                position: absolute;
                left: 0px;
                top: 0px;
                margin-left: 7px;
                margin-top: -3px;
                cursor: pointer;
            }
        }

        .tmp_content {
            padding: 3px;
            height: 100%;
            overflow-y: auto;
            scrollbar-width: thin;

            .tmp_buttons {
                
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .tmp_button {
                    margin-bottom: 5px;
                    font-size: 18px;
                    border: 1px solid black;
                    padding: 1px 10px;
                    border-radius: 7px;
                    background-color: gainsboro;

                    &:hover {
                        background-color: lightgrey;
                    }

                    &:active {
                        background-color: gray;
                    }
                }

                .tmp_txt_line {
                    display: flex;
                    flex-direction: row;
                    gap: 5px;

                    img {
                        pointer-events: none;
                    }
                }

                .tmp_separator {
                    height: 0px;
                    width: 100px;
                    margin-bottom: 5px;
                    border: 2px solid #2b6cb0;
                }
            }
        }

        .tmp_footer {
            position: relative;
            height: 25px;
            bottom: 0px;
            text-align: center;
        }
    }

    .tmp_resizer {
        position:absolute; 
        width:0; 
        height:0;
        right:0; 
        bottom:0;
        cursor:se-resize;
        border-left: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid #888;
        border-bottom: 6px solid #888;
    }
}