@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: #DDEEEE;
  display: flex;
  flex-direction: row;
  scrollbar-width: thin;
}

html, body {
  height: 100%;
}

#leftmenu_box {
  width: 150px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#right_box {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: 5px;
  overflow: hidden;
}

#menuframe {
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
}

#varframe {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 13px;
  overflow-wrap: break-word;
  scrollbar-width: thin;
}

#loader_layer {
  position: fixed;
  left: 155px;
  top: 40px;
  right: 0px;
  bottom: 0px;
  background: #DDEEEE;
  z-index: 999;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#leftmenu1 {
  width: 100%;
}

.menufielditem {
  width: 100%;
}

#topmenu_box {
  display: flex;
  flex-direction: row;
  background: #DDEEEE;
  height: 30px;
  margin-top: 1px;
  margin-bottom: 9px;
  margin-left: 1px;
  justify-content: space-between;
}
#topmenu_box .space_filer {
  flex: 1;
}
#topmenu_box div {
  display: flex;
  flex-direction: row;
}
#topmenu_box #menu_box {
  margin-right: 15px;
}

.menuitem, .topmenuitem {
  background: linear-gradient(to top, #BAC1E1, #D2D5E1);
  border: solid 1px DarkBlue;
  border-radius: 6px;
  padding: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.topmenuitem {
  margin: 2px;
}

.close_catalog .menuitem {
  background: none;
  border: solid 0px DarkBlue;
  border-radius: 0px;
  max-width: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.menuitem_header {
  background-color: #dddddd;
  max-width: 100%;
  padding: 4px;
  text-align: center;
  display: none;
}

.menuitem:hover, .topmenuitem:hover {
  background: linear-gradient(to right, pink, pink);
}

.menuitem:active, .topmenuitem:active {
  background: linear-gradient(to right, rgb(255, 155, 171), rgb(255, 155, 171));
}

.menuactive {
  background: linear-gradient(to right, lime, lime);
}

.treemenuactive {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: lime;
}

ul {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}

.li_style {
  list-style-type: none;
  background-position: top left;
  background-repeat: repeat-y;
  padding-left: 18px;
  text-indent: -18px;
  zoom: 1;
}

.vertical_line {
  list-style-type: none;
  background-image: url(../include/treeimg/i.gif);
  background-position: top left;
  background-repeat: repeat-y;
  padding-left: 18px;
  text-indent: -18px;
  zoom: 1;
}

.vertical_line_down {
  list-style-type: none;
  background-image: url(../include/treeimg/l.gif);
  background-position: top left;
  background-repeat: repeat-y;
  padding-left: 18px;
  text-indent: -18px;
  zoom: 1;
}

li span {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.pattern_field {
  width: 18px;
  height: 18px;
  position: relative;
  left: -18px;
  background-image: url(../include/treeimg/t.gif);
  float: left;
}

.pattern_field_up {
  width: 18px;
  height: 18px;
  position: relative;
  left: -18px;
  background-image: url(../include/treeimg/t.gif);
  float: left;
}

.pattern_field_down {
  width: 18px;
  height: 18px;
  position: relative;
  left: -18px;
  background-image: url(../include/treeimg/l.gif);
  float: left;
}

.catalog_open_field {
  background-image: url(../include/treeimg/expand_minus.gif);
}

.catalog_minus {
  width: 18px;
  height: 18px;
  position: relative;
  background-image: url(../include/treeimg/minus.gif);
  left: -36px;
  float: left;
}

.catalog_txt {
  text-indent: -36px;
}

.begin_field1 {
  background-image: url(../include/treeimg/expand_leaf.gif);
}

.end_field {
  background-image: url(../include/treeimg/i_half.gif);
}

.catalog_open {
  display: block;
}

.catalog_close {
  display: none;
}

#open_close {
  height: 30px;
  width: 30px;
  margin-right: 0px;
  margin-top: 7px;
  float: right;
  align-self: center;
}

.topmenuitem, .menuitem, .treemenuitem {
  cursor: default;
}

.notshow_any {
  display: none;
}

.scrollbar {
  scrollbar-width: thin;
}

#menu_edit_field {
  padding-bottom: 30px;
}

.mailbox_pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.mailbox_pages div {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 2px;
  margin-right: 2px;
}

.regstyle {
  background-color: #d2e3e3;
}

#inbox {
  position: relative;
  border-width: 0px;
}

#inbox div {
  margin-left: 3px;
}

#iconPanel {
  position: absolute;
  display: flex;
  inset: 4px 5px 2px 2px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

[data-colrule]:hover {
  background: linear-gradient(to right, rgb(237, 221, 221), rgb(237, 221, 221));
}

u {
  color: crimson;
}

#tablediv {
  overflow: auto;
  scrollbar-width: thin;
}

#findlayer {
  margin-top: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#findlayer input {
  margin-left: 3px;
}

.mailQuestion {
  position: relative;
}

.mailQuestion:hover::after {
  content: attr(data-title) "\a" attr(data-second-line);
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 1;
  background: rgba(255, 255, 230, 0.9);
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #333;
  white-space: pre;
}

.sortColumn::after {
  content: "▼";
  display: inline-block;
  margin-left: 5px;
}

.unSortColumn::after {
  content: "▶";
  display: inline-block;
  margin-left: 5px;
}

#test_version {
  background-color: #ffcb00;
  height: 30px;
  margin-bottom: 10px;
  max-width: 100vw;
  align-content: center;
  justify-content: center;
  display: grid;
  font-weight: bold;
  position: relative;
}

#test_ver_div1 {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#test_ver_div2 {
  right: 10px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#test_ver_div2:hover {
  color: red;
}

#test_ver_div1 span {
  cursor: pointer;
  text-decoration: underline;
}

.btnInnerMail {
  color: #666666;
  color: white;
  font-weight: lighter;
  text-shadow: 1px 1px 0px blue, -1px -1px 0px blue, 1px -1px 0px blue, -1px 1px 0px blue;
}

.findBoxInnerMail {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.tableBox {
  flex: 1 1 auto;
  overflow: auto;
  scrollbar-width: thin;
}

.innerMail, .fileListTable {
  border-collapse: separate;
  border-spacing: 0;
}
.innerMail tr, .fileListTable tr {
  transition: opacity 0.2s ease;
}
.innerMail tr1:hover, .fileListTable tr1:hover {
  box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.innerMail tr.hide, .fileListTable tr.hide {
  opacity: 0;
}
.innerMail tr.hide td, .fileListTable tr.hide td {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 0;
  font-size: 0;
  border-width: 0;
  transition: all 0.2s ease;
}
.innerMail [contentEditable], .fileListTable [contentEditable] {
  outline: none;
}
.innerMail thead td, .fileListTable thead td {
  box-shadow: inset 1px 0 0 black, inset 0 1px 0 black;
}
.innerMail thead td:last-child, .fileListTable thead td:last-child {
  box-shadow: inset 1px 0 0 black, inset 0 1px 0 black, inset -1px 0 0 black;
}
.innerMail thead tr:last-child td, .fileListTable thead tr:last-child td {
  box-shadow: inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black;
}
.innerMail thead tr:last-child td:last-child, .fileListTable thead tr:last-child td:last-child {
  box-shadow: inset 0 -1px 0 black, inset 1px 0 0 black, inset 0 1px 0 black, inset -1px 0 0 black;
}
.innerMail tbody td, .fileListTable tbody td {
  box-shadow: inset 0 -1px 0 black, inset 1px 0 0 black;
}
.innerMail tbody td:last-child, .fileListTable tbody td:last-child {
  box-shadow: inset 0 -1px 0 black, inset 1px 0 0 black, inset -1px 0 0 black;
}
.innerMail a, .fileListTable a {
  text-decoration: none;
}
.innerMail .headerSection, .fileListTable .headerSection {
  position: sticky;
  top: 0px;
  border-top: 2px solid #AAD8EB;
}
.innerMail .tableHeader td, .fileListTable .tableHeader td {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(to top, #55ABFF, #AAD8EB);
}
.innerMail .groupHeader td, .fileListTable .groupHeader td {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  background: linear-gradient(to top, #8ac5ff, #8ac5ff);
}
.innerMail .groupHeader .inbox, .fileListTable .groupHeader .inbox {
  border-right: 1px solid black;
}
.innerMail .colHeader td, .fileListTable .colHeader td {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  background: linear-gradient(to top, #AAD8EB, #AAD8EB);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.innerMail .colHeader td:nth-child(7), .fileListTable .colHeader td:nth-child(7) {
  border-right: 1px solid black;
}
.innerMail .colHeader .headerlinenumber, .fileListTable .colHeader .headerlinenumber {
  width: 33px;
}
.innerMail .colHeader .datevh, .fileListTable .colHeader .datevh {
  width: 70px;
}
.innerMail .colHeader .sumnormchasvh, .fileListTable .colHeader .sumnormchasvh {
  width: 50px;
}
.innerMail .colHeader .dateish, .fileListTable .colHeader .dateish {
  border-left-width: 2px;
  width: 70px;
}
.innerMail .colHeader .sumnormchasish, .fileListTable .colHeader .sumnormchasish {
  width: 50px;
}
.innerMail tbody tr td:nth-child(7), .fileListTable tbody tr td:nth-child(7) {
  border-right: 1px solid black;
}
.innerMail tbody td, .fileListTable tbody td {
  padding-left: 3px;
  padding-right: 3px;
}
.innerMail tbody .linenumber, .fileListTable tbody .linenumber {
  width: 25px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
  background: linear-gradient(to top, #AAD8EB, #AAD8EB);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.innerMail tbody .dateish, .fileListTable tbody .dateish {
  border-left-width: 2px;
}
.innerMail tbody .addFileBtn, .fileListTable tbody .addFileBtn {
  float: right;
  margin-top: -4px;
  margin-bottom: -4px;
}
.innerMail tbody .scanvh, .innerMail tbody .scanish, .fileListTable tbody .scanvh, .fileListTable tbody .scanish {
  width: 90px;
}

.pagesBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  gap: 4px;
  margin-top: 20px;
}

.modalWindowBox {
  width: 500px;
  z-index: 99999;
  position: fixed;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 13px;
  top: 35%;
  left: 40%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background: #DDEEEE;
  overflow: hidden;
  border: 1px black solid;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modalWindowBox .tmp_hide {
  display: none;
  color: brown;
}
.modalWindowBox .fileListTable {
  width: 100%;
}
.modalWindowBox .fileListTable .filenameBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modalWindowBox .fileListTable .filenameBox .fileName {
  flex: 1;
}
.modalWindowBox .fileListTable .prim {
  width: 25%;
}
.modalWindowBox .fileListTable tbody td {
  padding-left: 5px;
}
.modalWindowBox .tmp_box {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}
.modalWindowBox .tmp_box .tmp_header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(to top, #55ABFF, #AAD8EB);
  border-bottom: 1px solid black;
}
.modalWindowBox .tmp_box .tmp_header .tmp_header_txtbox {
  margin-bottom: 2px;
}
.modalWindowBox .tmp_box .tmp_header .tmp_close {
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 7px;
  margin-top: -2px;
  cursor: pointer;
}
.modalWindowBox .tmp_box .tmp_header .tmp_window_hide {
  font-size: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-left: 7px;
  margin-top: -3px;
  cursor: pointer;
}
.modalWindowBox .tmp_box .tmp_content {
  padding: 3px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_button {
  margin-bottom: 5px;
  font-size: 18px;
  border: 1px solid black;
  padding: 1px 10px;
  border-radius: 7px;
  background-color: gainsboro;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_button:hover {
  background-color: lightgrey;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_button:active {
  background-color: gray;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_txt_line {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_txt_line img {
  pointer-events: none;
}
.modalWindowBox .tmp_box .tmp_content .tmp_buttons .tmp_separator {
  height: 0px;
  width: 100px;
  margin-bottom: 5px;
  border: 2px solid #2b6cb0;
}
.modalWindowBox .tmp_box .tmp_footer {
  position: relative;
  height: 25px;
  bottom: 0px;
  text-align: center;
}
.modalWindowBox .tmp_resizer {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  bottom: 0;
  cursor: se-resize;
  border-left: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #888;
  border-bottom: 6px solid #888;
}/*# sourceMappingURL=main.css.map */